.in-table .van-cell {
  padding: 0 6px;
  align-items: center;
}

.in-table .van-field {
  border-width: 1px;
  border-style: solid;
  border-color: var(--van-gray-6);
  border-radius: 6px;
  box-shadow: none;
}

.in-table .van-field.van-field--error {
  border-color: var(--van-red);
}

.in-table .van-field__control {
  height: 24px;
  margin-top: 2px;
}

.in-table .van-field__control:disabled {
  color: var(--van-gray-7);
  -webkit-text-fill-color: var(--van-gray-7);
}

.in-table .van-dropdown-menu__bar {
  height: 28px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--van-gray-6);
  border-radius: 6px;
  box-shadow: none;
  position: relative;
}

.in-table .van-dropdown-menu__title {
  font-size: 14px;
  line-height: 18px;
}

.in-table .van-dropdown-menu.error .van-dropdown-menu__bar {
  border-color: var(--van-red);
}

.in-table .van-dropdown-item {
  position: relative;
  display: contents;
  opacity: 0;
}

.in-table .van-dropdown-menu__item {
  justify-content: flex-start;
}

.in-table .van-dropdown-menu {
  position: relative;
}

.in-table .van-overlay {
  display: none;
}

.in-table .van-popup {
  max-height: 80px;
}

.in-table .van-popup--top {
  top: 40px;
  width: 200px;
  height: 50px;
}

.in-table .van-dropdown-menu__title:after {
  border-color: transparent transparent black black;
}

.in-table .van-dropdown-menu.error .van-dropdown-menu__title:after {
  border-color: transparent transparent var(--van-red) var(--van-red);
}

.van-button--default {
  border-color: var(--van-gray-6);
}
